
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



*{
   margin: 0;
   padding: 0;
   box-sizing:border-box;
   font-family:"poppins",sans-serif;
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(full.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: relative;
    top:0;
    width:100%;
    padding:20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo{

    position: relative;
    color: #000000;
    font-size: 30px;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:800;
    letter-spacing:1px;
}

header .navigation a{
    color:#000000;
    background:#ffbec4;
    text-decoration:none;
    font-weight:500;
    letter-spacing:1px;
    padding:3px 15px;
    border-radius:20px;
    transition:0.5s;
    transition-property:background;
}
header .navigation a:not(:last-child){
    margin-right:30px;
}
header .navigation a:hover{
    background:#831924
}

section{
    margin:30px;
    width:1000px;
}
section h2{
    color:#651c63;
    font-size:50px;
    text-transform:uppercase;
    font-weight:800;
    letter-spacing:1px;
    line-height:40px;
    margin-bottom:30px;
}
section p{
    font-size:16px;
    font-weight:500;
    margin-bottom:30px;
    color:rgb(0, 0, 0)
}
section .more{
    color:#d2c0c0;
    background:#651c63;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    letter-spacing:2px;
    border-radius:5px;
    padding:10px 15px;
    transition:1s;
}
section .more:hover{
 background:#c41cc1;
}
footer{
    display:flex;
    align-items:center;
    margin:auto;
}
footer a{
    font-size:30px;
    color:rgb(247, 13, 122)
}
footer a:not(:last-child){
    margin-right:50px;
}
footer a:hover{
    transform:scale(1.5);
} 